.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: "#fcf7f2";
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  color: #f2ebe6;
  font-size: 18px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin:30px;
}

.navbar-brand {
  color: none;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Inter", sans-serif;
  
}

.nav-link {
  color: #d5c5af;
  margin-right: 1rem;
  transition: color 0.2s ease-in-out;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  color: #333;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 24px;
  }

  .nav-link {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 0.5rem;
    display: block;
    text-transform: lowercase;
  }
}
body {
  /* background: linear-gradient(to top, #420f0f, #ea2424); */
  /*linear-gradient(to top, #420f0f, #ea2424); */
  background-size: cover;
  background-attachment: fixed;
  
}

.container {
  margin: 30px;
  align-content: center;
}

/* @media (max-width: 768px) {
  .image-container {
    display: none;
  
  }
} */
