@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
.box {
    border: 20px solid #f2ebe6;
    padding: 20px;
    text-align: center;
    width: 800px;
    line-height: 2;
    
    
}
.box-wrapper {
    display: flex;
    justify-content: center;
        line-height: 2;
}
a {
    color: #f2ebe6;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.image {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    border-radius: 15%;
}