@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}
.box {
    border: 2px solid #f2e5ce;
    padding: 20px;
    text-align: center;
    width: 800px;
    line-height: 2;
    
    
}
.box-wrapper {
    display: flex;
    justify-content: center;
        line-height: 2;
}
a {
    color: #f2e5ce;
    text-decoration: none;
}

a:hover {
    color: rgb(0, 0, 0);
}
